/* Basic #FAF8F1
2nd color #FFD1D1
3rd color #C58940 */

body{
	background-color: #FAF8F1;
	margin: 0;
	font-family: "Poppins";
}

.clear{
	float: none;
	clear: both;
}

.center{
	width: 80%;
	margin: 0 auto;
}

.text-bold{
	font-weight: 600;
}

.text-center{
	text-align: center;
}

/*START HEADER*/
header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #C58940;
    margin-bottom: 0;
}

header h1{
	margin: 10px;
    width: 100%;
    color: #FFF;
    text-align: center;
}
/*END HEADER*/

/*START MAIN*/
.the-word{
	font-weight: bold;
	font-size: 40px;
}

.the-pronun{
	font-size: 18px;
	font-style: italic;
	margin-bottom: 40px;
}

#definition {
	font-size: 18px;
}

#konten {
	padding: 50px 20px;
	font-size: 20px;
	border-radius: 10px;
	text-align: center;
}
/*END MAIN*/